.drop-list{
  display: flex;


}
.lang-select-input{
  display: none;
}

.page-header__languages-link {
    cursor: pointer;
    margin-right: 10px !important
}

.mobile_lang{
    flex-grow: 1;
    text-align: center;
    line-height: 28px;
}
.mobile_lang_active{
        font-weight: 900;
    background-color: #ebf6f6;
}

.hand-form-hide{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.hand-form-success-active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.hand-form-success-active .icon-pie{
    animation-play-state: running;
}

.hand-form-success-active .icon-smile{
    animation-play-state: running;
}

.hand-form-success-active > .intro-block__hand-form-inner-success-text{
     animation-play-state: running;
}

.contacts-form-success{
    opacity: 1;
    visibility: visible;
}